html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(188deg, #ff1111, #ff7c0c, #ffb905, #f5f100);  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;  /* Prevents horizontal scrolling */
}